@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        .mojdiv {
            width: 30%;
            height: 100px;
            background-color: lightpink;
            display: inline-block;
            position: relative;
            border: 5px solid gold;
        }

        body {
            background-color: gray;
        }

        p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            color: black;
        }
    </style>
</head>

<body>
    <center>
        <a href="~/Potrosac/Profil">
            <div class="mojdiv">
                <p>Profil</p>
            </div>
        </a>
        <br />
        <a href="~/Potrosac/NovaPorudzbina">
            <div class="mojdiv">
                <p>Nova/Trenutna porudzbina</p>
            </div>
        </a>
        <br />
        <a href="~/Potrosac/PrethodnePorudzbine">
            <div class="mojdiv">
                <p>Prethodne porudzbine</p>
            </div>
        </a>
        <br />
        <a href="~/Potrosac/TrenutnaPorudzbina">
            <div class="mojdiv">
                <p>Trenutna porudzbina</p>
            </div>
        </a>

    </center>
</body>